appdirs==1.4.4
build==1.2.1
-e git+https://github.com/kivy/buildozer@f3c5bb336bc648e77f1ba3f1a33749b252075f81#egg=buildozer
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==42.0.8
Cython==0.29.37
distlib==0.3.8
distutils-pytest==0.2.1
docutils==0.21.2
filelock==3.15.4
idna==3.7
iniconfig==2.0.0
Jinja2==3.1.4
Kivy==2.3.0
Kivy-Garden==0.1.5
MarkupSafe==2.1.5
packaging==24.1
perl==1.0.0
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.2
pluggy==1.5.0
ptyprocess==0.7.0
pycparser==2.22
Pygments==2.18.0
pyproject_hooks==1.1.0
pytest==8.2.2
requests==2.32.3
setuptools==70.1.1
sh==1.14.3
six==1.16.0
toml==0.10.2
urllib3==2.2.2
virtualenv==20.26.3
wheel==0.43.0
